<div class="time_line_target">
    <div class="part active " data-source="generale"> 
        <div class="accordionItems">
             {{ render(controller( 
                'ContentElementsManagementSystemBundle:RenderTemplates:renderItemsViewer',{ 'entity': entity, 'form':form}
            )) }}
        </div>
         <div class="buttonsGrid">
            {% include 
            "ContentElementsManagementSystemBundle:Templates:itemsMenu.html.twig" with
            {
                'form':form
            }
        %}
        </div>   
    </div>
</div>
<div style="display:none">{{form_rest(form)}}</div>