parameters:
  database_host: 127.0.0.1
  database_port: null
  database_name: talos_database
  database_user: root
  database_password: null
  app.db.table_prefix: _talos_
doctrine:
    dbal: 
       driver: pdo_mysql
       host: '%database_host%'
       port: '%database_port%'
       dbname: '%database_name%'
       user: '%database_user%'
       password: '%database_password%'
       charset: UTF8
    orm: 
      auto_generate_proxy_classes: '%kernel.debug%'
      naming_strategy: doctrine.orm.naming_strategy.underscore
      auto_mapping: true 