parameters:
  database_host: localhost
  database_port: null
  database_name: talos_dev_database
  database_user: salim
  database_password: 44129221
doctrine:
    dbal: 
       driver: pdo_mysql
       host: '%database_host%'
       port: '%database_port%'
       dbname: '%database_name%'
       user: '%database_user%'
       password: '%database_password%'
       charset: UTF8
    orm: 
      auto_generate_proxy_classes: '%kernel.debug%'
      naming_strategy: doctrine.orm.naming_strategy.underscore
      auto_mapping: true 