<!DOCTYPE html>
<html>
    <head>
        {# title #}
        <title>LDCELA- Backoffice Beta</title>
        {# meta #}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        {# css libs #}
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
        {# css Main #}
        <link rel="stylesheet" href="{{ asset('adminTemplateFiles/build/css/reset_style.css') }}">
        <link rel="stylesheet" href="{{ asset('adminTemplateFiles/build/css/_login.css') }}">
    </head>

    <body data-title="{% block title %}{% endblock %}">
        <div class="all_warrapers_web_content">
            {% block body %} {% endblock %}
        </div>
        {# JS Libs #}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        {# JS Main #}
        <script type="text/javascript" src="{{ asset('adminTemplateFiles/build/js/all_functions.js') }}"></script>
        <script type="text/javascript" src="{{ asset('adminTemplateFiles/build/js/login_script.js') }}"></script>
    </body>

</html>