<!DOCTYPE html>
<html>
    <head>
        <title>Bootstrap Example</title>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">  
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            {{ render(controller( 'AdminBundle:RenderTemplate:renderFavIcon' )) }}        
            <link rel="stylesheet" type="text/css" href="{{ asset('_adminAssets') }}/_build/css/_libs.css">
            <link rel="stylesheet" type="text/css" href="{{ asset('_adminAssets') }}/_build/css/_reset.css">
        {% block lib_css %}{% endblock %} 
    </head>
    <body >
        {% block body %}{% endblock %}
        {% block media_content %}{% endblock %}  
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script> 
    </body>

</html>