{% extends 'AdminBundle::_login_shred.html.twig' %}
{% block title %}{{ render(controller( 'AdminBundle:RenderTemplate:renderProjecttitle')) }} - Connexion Back-Office{% endblock %}
{% block body %}
<div class="container_wrapper login_warraper">
  <div class="header">Connexion</div>
  <section class="login_content">
    <form method="post" action="{{ path('admin_login_check') }}">
      {% if error %}
          <div class="alert alert-danger grpInput"><b>Ouups!</b> Identifiant ou mot de passe erroné(s).</div>
      {% endif %}
      <div class="grpInput">
        <input type="text" name="_username" class="form-control" placeholder="Email ou Identifiant"  />
      </div>
      <div class="grpInput">
       <input type="password" name="_password" class="form-control" placeholder="Mot de passe"  />
      </div>
      <div class="grpInput button">
        <button type="submit" class="btn btn-default submit">Connexion</button>
      </div>
      <a class="reset_pass" href="#myModal">Mot de passe oublié ?</a>
    </form>
  </section>
  <div class="passwordHide">
      <i class="fas fa-times"></i>
      <div class="centerpswd">
      <div class="rep"></div>
        <div class="grpInput">
          <input type="text" name="_username" class="form-control email_mdp" placeholder="Email ou Identifiant"  />
        </div>
        <div class="grpInput button">
          <button class="btn btn-theme" id="mdp_oublie" data-rel="{{ path('admin_mot_passe_oublie') }}" type="button">Valider</button>
        </div>
      </div>
      
      
  </div>  
</div>

 {% endblock %}