@import 'var';

.fileUploadTriggerDiv{
	&::after{
		position:absolute;
		content: attr(data-label);
		left: 20px;
		top: 1px;
		width: 100%;
		height: 27px;
		background-color: $sidebarBackGoundColor;
		border: 2px solid $border-color;
		font-size: 15px;
    	line-height: 24px;
    	padding: 0px 5px;
    	cursor: pointer;
	}
}
.blockRow{
	position: relative;
	&::after{
		position:absolute;
		position: absolute;
	    left: 0px;
	    right: 0px;
	    
	    top: -140%;
	    bottom: 0px;
	    content: '';
	    height: 106%;
	    width: 100%;
    	background-color: #000000a3;
		z-index: 5;
		opacity: 0;
		transition: all 0.6s;
	}
	&.active::after{
		z-index: 5;
		top: -18px;
		opacity: 1;
		transition: all 0.4s;
	}
	._mediaModel{
		width: 80%;
	    height: 70%;
	    overflow-y: auto;
	    position: absolute;
	    transform: translate(-50%, -50%);
	    top: -150%;
	    left: 50%;
	    background: #fff;
	    z-index: 6;
	    transition:  all 2s;
	    border: 4px solid #77777773;
	    &.active{
	    	top: 50%;
	    	transition: all 1.6s;
	    }
	    .container_box {
	    	padding: 0px;
	    	width: 100%;
	    	max-width: 100%;
	    	.col{
	    		position: relative;
	    	}
	    	.box_title{
	    		h3{
	    			text-align: center;
	    		}
	    		.btn{
	    			height: 50px;
	    			width: 50px;
	    			background-color: #fff;
	    			position: absolute;
	    			left: -14px;
	    			text-align: center;
	    			top: 0px;
	    			color: tomato;
    				font-size: 33px;
    				padding-left: 14px;
    				&.closeMediaModal{
    					right: 0px;
    					text-align: left;
    					left: initial;
    					color: $border-color
    				}
	    		}
	    		.button{
	    			&.newFormModal{
	    				right: 160px;
	    			}
	    			&.closeMediaModal{
	    				right: 15px;
	    				width: 40px;
	    				font-size: 25px;
	    				color: tomato;
	    			}
	    		} 
	    	}
	    	.box_content{
	    		border: 0px;
	    		.centerImageClass{
	    			img{
	    				display: block;
	    				margin: 0 auto;
	    			}
	    		}
	    			
	    	}
	    }
	}
}
.mediaBordered{
	height: 250px;
	overflow:hidden;
	border: 3px solid $border-devider-color;
	margin-right: 25px !important;
	position: relative;
	padding: 5px;
	
	transition: all 0.6s;
	.imgContent{
		position: absolute;
		width: 100%;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		z-index: 5;
		opacity: 0.7;
	}
	.imgHoverContent{
		position: absolute;
	    left: 0px;
	    top: -100%;
	    background-color: #2dc0ffc7;
	    width: 100%;
	    height: 100%;
	    transition: all 0.6s;
	    z-index: 6;
	    text-align: center;
	    .centeredRow{
			top: 50%;
			color: #fff;
			transform: translateY(-50%);
			i{
		    	line-height: 100%;
		    	font-size: 30px;
		    	cursor: pointer;
		    	transition: color 0.6s;
		    	&:hover{
		    		color:#000;
		    		transition: color 0.4s;
		    	}
		    }
	    }
	    
	}
	&:hover{
		opacity: 1;
		transition: all 0.4s;
		.imgHoverContent{
			top: 0px;
			transition: all 0.4s;
		}
	}
	&.selected{
		opacity: 1;
		transition: all 0.4s;
		border: 3px solid $border-color;
		&::before{
			position:absolute;
			bottom: 0px;
			height: 35px;
			width: 100%;
			background-color: $border-color;
			content: 'selected';
			left: 0px;
			color: #fff;
			line-height: 35px;
			text-align: center;
			z-index: 6;
		}
	}
	&::after{
		position:absolute;
		top: 0px;
		left: 0px;
		height: 35px;
		background-color: $border-color;
		color: #fff;
		content: attr(data-alt) ;
		text-align: center;
		line-height: 35px;
		text-transform: capitalize;
		width: 100%;
		z-index: 999;
	}
}
.uploadedImageDivision{
	position:relative;
	.displayImageAfterUpload{
		width: 135px;
		min-height: 135px;
		display: block;
		margin: 0 auto;
		border:3px solid $border-color;
		overflow: hidden;
		border-radius:100%;
		position:relative;
		z-index: 5;
		transition: all 0.6s;
		img{
			position:absolute;
			left: 50%;
			top: 50%;
			width: auto;
			transform: translate(-50%,-50%);
			transition: all 0.6s
		}
		&:hover{
			width: 235px;
			transition: all 0.6s;
			border-radius:0%;
			img{
				width: 100%;
				transition: all 1.6s
			}
		}
	}
	button{
	    height: 25px;
	    line-height: 25px;
	    border: 2px solid #a0a0a0 !important;
	    text-align: center;
	    font-size: 11px;
	    background-color: #a0a0a0;
	    color: #fff;
	    width: 20% !important;
	    line-height: 19px;
	    border-radius: 15px;
	    margin-top: 10px;
	    cursor: pointer;
	}	
}
#resizer-demo{
	opacity: 0;
	z-index: -1;
	transition: opacity 0.6s;
	position:fixed;
	button{
		margin: 0px;
	    padding: 0px 15px;
	    height: 35px;
	    position: absolute;
	    z-index: 6;
	    color: #fff;
	    z-index: 11;
	    right: 50px;
	    top: 7px;
	    line-height: 35px;
	    font-size: 15px;
	    color: #000;
	    background-color: #ffd843;
	    font-weight: 600;
	    border-radius: 30px;
	    border: 0px;
	    cursor: pointer;
	}
	&.active{
		z-index: 99;
		opacity: 1;
		transition: opacity 0.6s;
	}
}
.btn-delleteFile{
	    border-radius: 5px;
    font-size: 15px;
    color: #fff;
    border: 2px solid #fff;
    transition: all 0.4s;
    cursor: pointer;
    background-color: $hoverbackgroundColor;
    display: block;
    width: 133px;
    padding-top: 5px;
    padding-bottom: 8px;
    padding-left:5px;
    margin: 15px 0;
}

.searchForm{
	height: 30px;
	margin-top: 10px;
	margin-bottom: 15px;
	width: calc( 100% + 4px );
    background: #c9c9c957;
    input{
    	height: 100%;
    	width: calc( 100% - 7px );
    	text-align: center;
    	font-size: 15px;
    }
}
.pagination{
	list-style: none;
	li{
		display: inline-block;
	    width: 25px;
	    border: 2px solid $border-color;
	    margin-right: 5px;
	    text-align: center;
	    height: 25px;
	    line-height: 25px;
	}
}
.allmedias{
	form{
		width: 600px;
		max-width: 100%;
		display: block;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		.fileButtonCovered{
			position: relative;
			height: 35px;
			
			width: 60%;
			margin-top: 15px;
			margin-bottom: 7px;
			margin-left: auto;
			margin-right: auto;
			input.file{
				height: 35px;
				cursor: pointer;
				opacity: 0;
				width: 100% !important;
			}
			&::after{
				position:absolute;
				left: 0px;
				top: 0px;

				z-index: -1;
				border-radius: 15px;
				content: attr(data-label);
				height: 35px;
				line-height: 33px;
				text-align: center;
				background-color: #a0a0a0;
				color: #fff;
				width: 100%;
			}
			&.danger{
				width: 100%;
				&::after{
					background-color:tomato
				}
			}
		}
		input{
			width: 60% !important;
			height: 25px;
			line-height: 25px;
			border:2px solid #a0a0a0 !important;
			text-align: center;
			font-size: 15px;
			margin-bottom: 15px;
			&.cr-slider{
				border:0px !important;
				width: 50% !important;
				max-width: 300px !important;
			}
			&.btn{
				background-color: #a0a0a0;
				color: #fff;
				width: 20% !important;
				line-height: 20px;
				border-radius: 15px;
			}
		}
		.onResizeShow{
			width: 60%;
			display: block;
			margin: 10px auto;
			.col{
				margin-bottom: 0px;
				input{
					width: 80%;
				}
				span{
					margin-left: 5px;
					font-size: 18px;
				}

			}
		}
	}
}