$border-color: #152e67;
$border-color-other: #2dc0ff;
$hoverbackgroundColor: #ff5627;
$text-color:#152e67;
$text-hover-color:#ff5627;
$border-devider-color: #C9C9C9/*#C9C9C9*/;
$header-background-color:#fff;
$sidebarBackGoundColor:#fff;