imports:
    - { resource: '../../config/app.yml' }
    - { resource: '../../config/database.yml' }
    - { resource: '../../config/mail.yml' }
    - { resource: '../../config/locale.yml' }
    - { resource: '../../config/extra.yml' }
    - { resource: security.yml }
    - { resource: services.yml }
    - { resource: '@AdminBundle/Resources/config/services.yml' }
    - { resource: '@FrontBundle/Resources/config/services.yml' }
    - { resource: '@ContentElementsManagementSystemBundle/Resources/config/services.yml' }
    - { resource: '@MediaBundle/Resources/config/services.yml' }
    - { resource: "@MainBundle/Resources/config/services.yml" }
framework:
    secret: '%secret%'
    templating: { engines: [twig] }
    router: { resource: '%kernel.project_dir%/app/config/routing.yml', strict_requirements: null }
    form: null
    csrf_protection: null
    validation: { enable_annotations: true }
    default_locale: '%locale%'
    trusted_hosts: null
    session: { handler_id: session.handler.native_file, save_path: '%kernel.project_dir%/var/sessions/%kernel.environment%' }
    fragments: null
    http_method_override: true
    assets: null
    php_errors: { log: true }
    translator: { fallbacks: [fr] }
twig:
    debug: '%kernel.debug%'
    strict_variables: '%kernel.debug%'
swiftmailer:
    transport: '%mailer_transport%'
    host: '%mailer_host%'
    username: '%mailer_user%'
    password: '%mailer_password%'
    spool: { type: memory }
sensio_framework_extra:
    router: { annotations: false }