# To get started with security, check out the documentation:
# https://symfony.com/doc/current/security.html
security:
    # https://symfony.com/doc/current/security.html#b-configuring-how-users-are-loaded
    encoders:
        #Symfony\Component\Security\Core\User\User: plaintext
       CoreSystemBundle\Entity\User: bcrypt
    role_hierarchy:
        ROLE_EDITOR: ROLE_USER
        ROLE_ADMIN: ROLE_EDITOR
        ROLE_SUPER_ADMIN: [ROLE_EDITOR, ROLE_USER, ROLE_ADMIN, ROLE_ALLOWED_TO_SWITCH]
        ROLE_DEV: [ROLE_EDITOR, ROLE_ADMIN, ROLE_SUPER_ADMIN,ROLE_USER]
    providers:
        db_provider:
            entity:
                class: CoreSystemBundle:User
                property: username
    firewalls:
        secured_area:
            pattern:    ^/
            anonymous: ~
            provider: db_provider
            # user_checker: app.user_checker
            form_login:
                login_path:  /login_%project_prefix%/
                check_path:  /login_check_%project_prefix%/
                always_use_default_target_path: true
                default_target_path: /login_%project_prefix%/
            logout:
                path: /logout_%project_prefix%/
                target: /login_%project_prefix%/
                invalidate_session: false
    access_control:
        - { path: ^/admin/%project_prefix%/, roles: ROLE_USER }
        - { path: ^/login_%project_prefix%/, roles: IS_AUTHENTICATED_ANONYMOUSLY }
