{% extends 'CoreSystemBundle::_shared.html.twig' %}
{% block title %}Aide{% endblock %} 
{% block body %}
<div class="col col_12">
     <div class="container_box">
        <div class="box_title">
            <h3>Aide </h3>
        </div>
        <div class="box_content info_page">
            <div class="accordionItems">
                {% for row in datas %}
                    <div class="panel closed" >
                        <div class="panel_header" > 
                            <h3>{{row.title}}</h3>
                            <div class="editpart">
                                <button  style="z-index:-66; position:relative" ></button>
                                <button class="toglle_panel" style="margin-right:0px"><i class="fas fa-chevron-down"></i></button>
                            </div>
                        </div>
                        <div class="panel_content">
                            {{row.description|raw}}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>   
    </div>
</div>
<style type="text/css">
img{
    width: 5%;
}

</style>
{% endblock %}


{% block local_script %}
    <script src="{{ asset('adminTemplateFiles/build/js/boxes_script.js') }}" type="text/javascript"></script>
{% endblock %}
