.form_group{
	margin-bottom: 15px;
	vertical-align: top;
	position: relative;
	.image{
		width: 350px;
		margin-left: 21px;
	}
	input,select,textarea{
		width: 100%;
		max-width: 100%;
		margin: 0px;
		padding: 0px;
		border:0px;
		min-height: 25px;
		background-color: transparent;
		font-size: 17px;
		color: #333;
		&:focus{
			outline-color:transparent;
			outline:none;
		}
	}
	.input_label{
		font-weight: 500;
		font-size: 17px;
		color:$text-color;
		cursor: pointer;
		transition: all 0.4s;
	    height: 25px;
	    width: calc(100% - 30px);
	    background-color: #fff;
	    z-index: 3;
	    display: none;
	    margin-left: 20px;
		&:hover{
			color:$text-hover-color;
			transition: all 0.4s;
		}
		&.displayLabel{
			display: block;
		}
	}
	.input_box{
		min-height: 25px;
		
		transition:all 0.2s;
		position: relative;
		width: calc(100% - 30px);
		margin-top: 0px;
		textarea{
			height: 90px;
			width: 100%;
			min-width: 100%;
			min-height: 150px;
			max-height: 300px;
		}
		input,textarea,select{
			border-bottom: 2px solid $border-color;
			margin-top: 5px;
			margin-left: 20px;
		}
	}
	.required_class{
		&.active{
			&::placeholder {
				color: red;
			  	opacity: 1; /* Firefox */
			}
			&:-ms-input-placeholder { /* Internet Explorer 10-11 */
				color: red;
			}
			&::-ms-input-placeholder { /* Microsoft Edge */
			  	color: red;
			}
		}
		
	}
	.chekbox_container_style{
		display: block;
		position: relative;
		padding-left: 25px;
		margin-bottom: 7px;
		cursor: pointer;
		font-size: 15px;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		input {
			position: absolute;
			opacity: 0;
			cursor: pointer;
		}
		.checkmark {
			position: absolute;
			top: 2px;
			left: 0;
			height: 15px;
			width: 15px;
			background-color: #eee;
		}
		&:hover input ~ .checkmark {
			background-color: #ccc;
		}
		input:checked ~ .checkmark {
			background-color: $border-color;
		}
		.checkmark:after {
			content: "";
			position: absolute;
			display: none;
		}
		input:checked ~ .checkmark:after {
			display: block;
		}
		.checkmark:after {
			left: 5px;
			top: 1px;
			width: 3px;
			height: 8px;
			border: solid white;
			border-width: 0 2px 2px 0;
			-webkit-transform: rotate(45deg);
			-ms-transform: rotate(45deg);
			transform: rotate(45deg);
		}
	}
	.radio_container_style{
		display: block;
		position: relative;
		padding-left: 25px;
		margin-bottom: 7px;
		cursor: pointer;
		font-size: 15px;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		input {
			position: absolute;
			opacity: 0;
			cursor: pointer;
		}
		.checkmark {
			position: absolute;
			top: 2px;
			left: 0;
			height: 16px;
			width: 16px;
			background-color: $border-color;
			border-radius: 50%;
		}
		&:hover input ~ .checkmark {
			background-color: $border-color;
		}
		&input:checked ~ .checkmark {
			background-color: $border-color;
		}
		.checkmark:after {
			content: "";
			position: absolute;
			display: none;
		}
		input:checked ~ .checkmark:after {
			display: block;
		}
		.checkmark:after {
			 top: 3.5px;
			left: 3.7px;
			width: 8px;
			height: 8px;
			border-radius: 50%;
			background: white;
		}
	}
}