.navbar-light .navbar-nav .nav-link {
    transition: all 0.6s;
    &:hover {
        color: tomato;
        transition: all 0.4s;
    }
}

.container-fluid {
    position: relative;
    .addNewElement {
        position: absolute;
        right: 15px;
        top: 40px;
    }
    ._pageTitle {
        display: inline-block;
    }
    ._colCtn {
        margin-top: 30px;
    }
    .table-container {
        width: 100%;
    }
    .tablesTabs {
        display: block;
        width: 100%;
        button {
            height: 35px;
            width: 120px;
            border: 0px solid transparent;
            border-bottom: 4px solid $text-color;
            transition: all 0.4s;
            margin-right: -8px;
            color: $text-color;
            font-size: 15px;
            cursor: pointer;
            text-align: left;
            &:focus {
                outline: none;
            }
            &.active,
            &:hover {
                background-color: #fff;
                color: $border-color;
                transition: all 0.4s;
                border-bottom: 4px solid $border-color-other;
            }
        }
    }
}