.pageHeader{
	    background-color: #454545;
    min-height: 75px;
    margin-left: -15px;
    margin-right: -15px;
    padding-left: 15px;
    padding-right: 15px;
	h1{
		color:#fff
	}
	.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link{
		color: #fff !important;
		border: transparent !important;
		transition: all 0.4s;
	}
	.nav-tabs .nav-link:hover{
		color: #454545 !important;
		background-color: #f6f6f6;
		transition: all 0.4s;
	}
	.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
		color: #454545 !important;
		transition: all 0.4s;
		background-color: #f6f6f6;
	}
}