.navbar{
	background-color: #454545;
}
#menu-toggle{
      color: #454545;
    background-color: #fff;
    border-color: #fff;
}
.navbar-expand-lg .navbar-nav .nav-link{
	color: #fff !important;
	transition: color 0.4s;
	&:hover{
		transition: color 0.4s;
		color: tomato !important;
	}
}