.dragAnDropContainer {
	border: 1px dashed #CCC;
	position: relative;
	width: 510px;
	min-height: 200px;
	display: block;
	vertical-align: top;
	    margin-right: auto;
    margin-left: auto;	
	&#firstList{
		width: 300px;
		height: 360px !important;
		overflow-y: auto;
		overflow-x: hidden;
	}
	&>div {
		background: #AAA;
		position: absolute;
		height:	250px;
		width: 250px;
		overflow:hidden;
		&[data-ss-colspan="2"] {
			width:500px;
			height: 250px;
		}
		&[data-ss-height="3"] {
			height: 125px;
		}
		img{
			position:absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%,-50%); 
			width: 100%;
		}
		.deleteElementFromDragAndDropContainer{
			position:absolute;
			top: 10px;
			right: 10px;
			color: tomato;
			font-size: 17px;
			z-index: 5;
		}
	}
	&> .ss-placeholder-child {
		background: black;
		border: 1px dashed blue;
	}
}
button.addNewImageToDragAndDrop{
	display: block;
    margin-top: 37px;
    background: #1d9f3c;
    color: #fff;
    -webkit-appearance: none;
    cursor: pointer;
    font-size: 16px;
    outline: 0;
    margin: 0;
    border: 0 none;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    letter-spacing: inherit;
    border-radius: 2px;
    padding: 0 30px;
    height: 40px;
    line-height: 38px;
    text-align: center;
    transition: all .4s;
    min-width:192px;
    margin-bottom: 15px;
    margin-right: auto;
    margin-left: auto;
}
