form {
    margin: 0 auto;
     font-family: $typo;
     font-weight: 500;
     width: 270px;
     margin: 0 auto;
     margin-top: 30px;
}
form .inputText {
    position: relative;
    width: 268px;
    height: 37px;
    margin: 0 auto;
    margin-bottom: 10px;

}

form .inputText label {
    top: 10px;
    left: 10px;
    color: #000000;
    font-size: 14px;
    position: absolute;
    z-index: 1;
    text-transform: uppercase;
}

form  label sup {
    color: #FF1D25;
}

form .inputText input[type="text"] {
    position: absolute;
    background: transparent;
    top: 0px;
    left: 0px;
    display: block;
    border: 1px solid #CCCCCC;
    z-index: 2;
    padding: 10px;
    width: 248px;
    height: 15px;
}

form .inputText input[type="text"]:focus {
    background: #FFFFFF;
}

form textarea {
    width: 250px;
    height: 79px;
    border: 1px solid #CCCCCC;
    resize: none;
    margin-top: 10px;
    padding: 10px;
    font-size: 14px;
    color: #000000;
    font-family: $typo;
     font-weight: 500;
     font-style: italic;
}

form input[type="submit"] {
    height: 40px;
    width:270px;
    line-height: 38px;
    text-align: center;
    color: #FFFFFF;
    font-size: 14px;
    background:#000000 ;
    text-transform: uppercase;
    border: none;
        -webkit-font-smoothing: antialiased;
    margin-top: 10px;
    font-family: sans-serif;
    font-weight: 400;
    margin-bottom: 10px;
}

form .notif {
    text-align: right;
    color: #FF1D25;
    margin-bottom: 10px;
    margin-top: 10px;
}

form .inputRadio p {
    font-size: 14px;
    color: #000000;
    font-family: $typo;
     font-weight: 500;
     font-style: italic;
    margin-bottom: 10px;
}

form .selectBox {
    width: 269px;
    height: 39px;
    margin-bottom: 10px;
    position: relative;
}

form .selectBox label {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
    text-transform: uppercase;
    font-size: 14px;
}

form  select {
    border: 1px solid #ccc;
    width: 269px;
    height: 37px;
    padding-right: 0px;
    box-sizing:content-box;
    -ms-box-sizing:content-box;
    -moz-box-sizing:content-box;
    -webkit-box-sizing:content-box; 
    font-size: 14px;
    z-index: 2;
    line-height: 40px;
    background: transparent;
    margin-bottom: 10px;

}
