{% extends 'AdminBundle::_shared.html.twig' %}
{% block title %}Home{% endblock %} 
{% block body %}
<div class="col col_12">
    <div class="container_box">
        <div class="box_title">
            <h3>Home</h3>
            <div class="button addNewElement">
                <a href="{{path('home_new')}}"><i class="fas fa-plus-circle"></i> Home</a> 
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block lib_css %}<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">{% endblock %}
{% block lib_script %}<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>{% endblock %}
{% block local_script %}
    <script type="text/javascript" src="{{ asset('adminTemplateFiles/build/js/data_table_script.js') }}"></script>
{% endblock %}