@import url('https://fonts.googleapis.com/css?family=K2D:100,200,300,400,500,600,700');
h1,h2,h3,h4,h5,
h6,p,html,body,table,span
a, abbr, acronym, address, applet, article, aside, audio, b, big, 
blockquote, body, canvas, caption, center, 
cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, 
figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, 
hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, main
object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, picture
strong, sub, summary, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0px;
  padding: 0px;
  font-weight: 300;
  font-family: 'k2d', sans-serif;
}
img,svg{
  width: 100%;
}
a{
	text-decoration: none !important;
	color: inherit !important;
}
button:focus,input:focus,textarea:focus,select:focus{
	outline: 0 !important;
    box-shadow: none !important;
}
.blocPosition{
	display: none;
}
body{
      background-color: #e4e4e454 !important;
}